/*- WooCommerce */

.woocommerce div.product form.cart .button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
.woocommerce div.product form.cart .button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
	border-radius: 0 !important;
	font-size: 0.75rem;
	-webkit-appearance: none;
	color: var(--color-title) !important;
	border: 2px solid;
	border-color: hsl(0, 0%, 98%) hsl(0, 0%, 20%) hsl(0, 0%, 20%) hsl(0, 0%, 98%);
	transition: 0.5s all;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 5px 0 0;
	display: inline-block !important;
	width: auto;
	min-width: 200px;
	font-family: var(--font-body);
	font-weight: bold;
	outline: none;
	background: transparent;
	line-height: 2rem;
	height: 2.5rem;
	padding: 0 10px !important;
}

.woocommerce .products ul::before,
.woocommerce .products ul::after	{
	display: none;
}

.woocommerce div.product form.cart div.quantity {
	display: block;
	float: none;
}

.type-product	{
	margin-top: 2rem;
}

.woocommerce div.product p.price, .woocommerce div.product span.price,
.woocommerce ul.products li.product .price {
	color: var(--color-title);
	font-family: var(--font-body);
}

.woocommerce span.onsale {
	background: var(--color-accent);
	border-radius: 0;
	text-transform: uppercase;
	line-height: 1;
	padding: 10px 12px;
	margin: 0 !important;
	min-height: unset;
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover {
	background: transparent;
	border: 2px solid;
	border-color: hsl(0, 0%, 98%) hsl(0, 0%, 20%) hsl(0, 0%, 20%) hsl(0, 0%, 98%);
	color: var(--color-title);
	border-radius: 0;
	text-transform: uppercase;
	font-size: 0.688rem;
	letter-spacing: 2px;
	display: inline-block !important;
	font-family: var(--font-body);
}

.woocommerce .widget_price_filter .price_slider_amount .button	{
	float: none !important;
	display: block !important;
	margin-top: 5px;
}

.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content {
	border-radius: 1em;
	background-color: var(--color-title);
	border: 0;
}

.coupon {
	width: 100%;
	margin-bottom: 20px;
}

.coupon .input-text,
.coupon .button {
	display: inline-block !important;
	float: left !important;
	width: 200px !important;
	height: 30px;
}

.woocommerce-page .entry-content a {
	background: transparent;
	box-shadow: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li:after,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active:after,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
	border-radius: 0 !important;
}

.woocommerce .woocommerce-ordering select {
	border-radius: 0 !important;
	font-size: 0.750rem;
	line-height: 1;
	background: var(--color-bg-windows);
	color: var(--color-accent);
	border: 1px solid;
	border-color: hsl(0, 0%, 98%) hsl(0, 0%, 20%) hsl(0, 0%, 20%) hsl(0, 0%, 98%);
	outline: none;
}

.woocommerce table.shop_table {
	border: 1px solid;
	border-color: hsl(0, 0%, 98%) hsl(0, 0%, 20%) hsl(0, 0%, 20%) hsl(0, 0%, 98%);
	border-collapse: collapse;
	border-radius: 0;
}

.woocommerce-result-count {
	font-size: 0.750rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after, .woocommerce div.product .woocommerce-tabs ul.tabs li::before {
	border: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active::after,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	display: none;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	border-bottom: 0;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding: 0 0 0 5px;
	margin: 0 0 0.5rem;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border-radius: 0;
	margin-right: 30px;
	text-align: left;
	padding: 0;
	background: transparent;
}

.tabs.wc-tabs li	{
	background: transparent !important;
}

.tabs.wc-tabs li a {
	border: 2px solid;
	border-color: hsl(0, 0%, 98%) hsl(0, 0%, 20%) hsl(0, 0%, 20%) hsl(0, 0%, 98%);
	display: inline-flex;
	align-items: center;
	flex-flow: row nowrap;
	text-decoration: none;
	background: var(--color-bg-windows);
	color: var(--color-title);
	outline: 1px dotted transparent;
	outline-offset: -5px;
	border-radius: 2px;
	padding: 0 1rem !important;
	margin: 0.5rem 0;
	text-transform: uppercase;
	letter-spacing: 1px;
	position: relative;
	font-size: 0.722rem;
	line-height: 1.9rem;
	height: 2rem;
}

.tabs.wc-tabs li.active a {
	outline: 1px dotted hsl(0, 0%, 20%);
}

.woocommerce ul.products li.product, .woocommerce-page ul.products li.product {
	padding-bottom: 2rem;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
	background-color: var(--color-accent) !important;
}

.woocommerce ul.products li.product .price del {
	display: inline-block;
}

.woocommerce div.product .product_title {
	font-size: 2rem;
}

.woocommerce figure {
	margin: 0;
}

.woocommerce div.product .woocommerce-tabs .panel h2,
.related.products h2 {
	font-size: 1.3rem;
}

.price_slider_amount .price_label	{
	text-align: left;
}

.page-title	{
	margin-top: 0;
}